
@font-face {
	font-family: $font_0;
	src: $url_0 format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font_1;
	src: $url_1 format("truetype");
	font-weight: normal;
	font-style: normal;
}
