//colors
$color_blumine_approx: #22687f;
$color_cerise_approx: #fd5e8b;
$white: #ccc0c0;
$button: #df547b;
$left_button: #7f6c7d;
$white-org: #fff;
$black_50: rgba(0, 0, 0, 0.5);
$color_selective_yellow_approx: #ffea00;
$color_celeste_approx: #ccc;
$color_outer_space_approx: #283940;
$black_30: rgba(0, 0, 0, 0.3);
$black_100: rgba(0, 0, 0, 0.5);
$voice_bg: rgba(138, 42, 94, 0.3);
$color_rangoon_green_approx: #191919;
$black: #000;
$color_mine_shaft_approx: #333;
$color_rangoon_green_70_approx: rgba(25, 25, 25, 0.7);
$color_neon_carrot_approx: #f79535;
$purple: #663248;

//fonts
$font_0: Roboto;
$font_1: videogular;
$font_size: 14px;


//urls
$url_0: url(../assets/fonts/roboto/RobotoCondensed-Regular.ttf);
$url_1: url(../assets/fonts/videogular/videogular.ttf);
$url_2: url(../assets/images/avatar.jpg);
$url_3: url(../assets/images/beauty.jpg);
$url_4: url(../assets/images/kingkong.jpg);
$url_5: url(../assets/images/annabelle.jpg);
$url_6: url(../assets/images/maze-runner.jpg);
$url_7: url(../assets/images/shopping-1.jpg);
$url_8: url(../assets/images/shopping-2.jpg);
$url_9: url(../assets/images/shopping-3.jpg);
$url_10: url(../assets/images/fashion-4.jpg);
$url_11: url(../assets/images/fashion-5.jpg);
$url_12: url(../assets/images/arch.png);
$url_body_bg: url(../assets/images/login-bg.jpg);
$url_tile_header_bg: url(../assets/images/label-bg.png);

$url_actor_1: url(../assets/images/actor-1.jpg);
$url_actor_2: url(../assets/images/actor-2.jpg);
$url_actor_3: url(../assets/images/actor-3.jpg);
$url_actor_4: url(../assets/images/actor-4.jpg);
$url_actor_5: url(../assets/images/actor-5.jpg);

$url_shopping_video_1: url(../assets/images/Clapper.png);
$url_shopping_video_2: url(../assets/images/Clapper.png);
$url_shopping_video_3: url(../assets/images/Clapper.png);
$url_shopping_video_4: url(../assets/images/Clapper.png);
$url_shopping_video_5: url(../assets/images/Clapper.png);

$url_popular_video_1: url(../assets/images/Avatar.jpg);
$url_popular_video_2: url(../assets/images/Interstellar.jpg);
$url_popular_video_3: url(../assets/images/CasinoRoyale.jpg);
$url_popular_video_4: url(../assets/images/Conjuring.jpg);
$url_popular_video_5: url(../assets/images/DueDate.jpg);

$url_recommended_video_1: url(../assets/images/TheDarkKnight.jpg);
$url_recommended_video_2: url(../assets/images/FastSeven.jpg);
$url_recommended_video_3: url(../assets/images/Logan.jpg);
$url_recommended_video_4: url(../assets/images/JasonX.jpg);
$url_recommended_video_5: url(../assets/images/StarWars.jpg);
$url_recommended_video_6: url(../assets/images/TheAmazingSpiderman.jpg);
